body {
  font-family: "Poppins", sans-serif;
}
.section-title {
  color: orange;
  text-align: center;
  font-size: 3.5em;
}
.main-gear {
  display: flex;
}
.main-gear img {
  width: 100%;
  margin: 20%;
  margin-left: 0;
}
.gear-info h1{
  font-size: 3em;
  margin: 0;
}
.gear-items h1{
  font-size: 2em;
  margin-top: 5%;
}
.gear-items h2{
  font-size: 1.8em;
  margin-top: 0;
}
.gear-info p{
  font-size: 1.5em;
}
.gear-info {
  padding: 7% 5% 10% 5%;
  width: 50%;
}
.gear-info a{
  background-color: #e02c6d;
  padding: 2%;
  text-decoration: none;
  border-radius: 15px;
  font-size: 1.5em;
  color: white;
}
.gear-info i {
  margin-left: 5%;
}
.rating{
  display: flex;
}
.gear-container h4{
  margin-top: 0;
  color: #5E6366;
}
.gear-container i{
  color:orange ;
}
.gear-container{
  display:grid;
  grid-template-columns:auto auto auto;
  grid-gap: 2%;
}
.gear-items{
  background-color: white;
  padding: 5%;
}
.gear-items h4{
  margin: 0;
  font-size: 1.3em;
}
.more-info a{
  text-decoration: none;
  font-size: 1.8em;
  color:#e02c6d;
}
.more-info i{
  color:#e02c6d;
  margin-left: 5%;
}
.gear-list{
  margin-bottom: 7%;
}
.footer{
  background-color: #0A0826;
  margin-top: 20%;
  color: white;
  text-align: center;
  padding: 3%;
}
@media (max-width:480px) {
  body{
    height: 1000px;
  }
  .gear-info h1{
    font-size: 2em;
  }
  .main-gear{
    display:inline-grid;
    align-content: center;
    text-align: center;
  }
  .gear-container{
    display:grid;
    grid-template-columns:auto;
    margin-bottom: 150%;
  }
  .more-info{
    margin-top: 200%;
  }
  .footer{
    margin-top: 200%;
  }
}
@media (max-width:768px){
  .main-gear{
    display:inline-grid;
    align-content: center;
    text-align: center;
  }
  .gear-container{
    display:grid;
    grid-template-columns:auto;
    align-content: center;
    margin-top: 100%;
  }
  .more-info{
    margin-top: 70%;
  }
  .footer{
    margin-top: 100%;
  }
  .main-gear img{
    width: 70%;
  }
}
